//dynamic index page

extends ../public/templates/base.jade

block title
  title Home
  
block content
  div.row
    div.col-md-12.text-center
      h1 Crumblr
  div.row
    div.col-md-12.text-center
      h3 Welcom to Crumblr! A resource for deliciousness.
