doctype html
html
	head
		title=mongoTest
		link(rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css")
		script(src="/bower_components/jquery/dist/jquery.min.js")
		script(src="/bower_components/AngularJS/src/Angular.js")
	body
		h1 This is Homepage
		.row
			p Lorem ipsum etc
