
extends ../../public/templates/base.jade

block title
  title Add Recipe

block content
  h1 New Recipe
  form(action="/recipes" method="POST")
    p
      label Recipe Name
      input(type="text" value="" name="name")
    p
      label Time to Prepare
      input(type="text" value="" name="prepTime")
    p
      label Serving Size
      input(type="text" value="" name="servingSize")
    
    button Add Recipe
